# Ansible ecosystem packages (versions controlled per Python version via ansible-core pin)
ansible-compat
ansible-lint
flake8
molecule
molecule-docker
molecule-podman
docker

# Mandatory for ansible-core
cryptography
importlib-resources
jinja2
packaging
PyYAML
resolvelib
cffi
typing-extensions
MarkupSafe
pycparser
netaddr
